<div align="right" style="text-align:right"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licença Creative Commons" style="border-width:0; float:right" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br><br><i>Prof. Marcelo de Souza</i><br>marcelo.desouza@udesc.br</div>

# Variáveis e operações básicas

Este notebook detalha a sintaxe para definição, atribuição e acesso de variáveis, bem como seu uso em operações básicas.

## 1. Variáveis

Criamos uma variável definindo seu nome e atribuindo um valor. Abaixo criamos uma variável chamada ``a`` e atribuimos o número ``1`` como seu valor.

In [1]:
a = 1

Podemos acessar o valor armazenado na variável ``a`` e exibí-lo em tela.

In [2]:
print(a)

1

Também podemos substituir o valor da variável ``a``.

In [3]:
a = 5
print(a) # Neste momento, a variável armazena seu novo valor (5)

5

### 1.1 Tipos (de variáveis/valores)

Variáveis não se limitam a armazenar números (tal como os exemplos acima). Os tipos **básicos** de dados que podemos armazenar em Python são:

Tipos numéricos:
+ **inteiro**: números inteiros (ex: 1, 7, -6, 324, ...)
+ **float**: números reais; ponto flutuante (ex: 1.7, 33.86, 44.0, -520.4, ...)

Outros tipos:
+ **texto**/**string**: valores textuais (ex: 'um texto', 'outro texto', '12', ...)
+ **lógico**/**booleano**: armazena verdadeiro ou falso (True ou False)

In [4]:
num_inteiro = 16       # Variável inteira
num_float = 33.4       # Variável float/real
texto1 = 'Ibirama'     # Variável string (usando áspas simples)
texto2 = "Rio do Sul"  # Variável string (usando áspas duplas)
logico = True          # Variável booleana

print(num_inteiro)
print(num_float)
print(texto1)
print(texto2)
print(logico)

16
33.4
Ibirama
Rio do Sul
True

Os comandos são executados em sequência, e em diferentes pontos da execução uma variável pode ter diferentes valores. Veja ainda que a mesma variável pode armazenar valores de diferentes tipos em diferentes pontos da execução (isso não é verdade para algumas linguagens de programação).

In [5]:
x = 43
print(x)
x = 12
x = 7
print(a)
x = 'Olá'
print(x)
x = 3.14
x = False
print(x)

43
5
Olá
False

Podemos usar o comando ``type(<var>)`` para saber o tipo de uma variável (``<var>``).

In [6]:
x = 9
print(type(x))
x = 2.5
print(type(x))
x = 'Ibirama'
print(type(x))
x = True
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Podemos converter uma variável de um tipo a outro (operação conhecida como *cast*).

In [7]:
a = '12'   # Uma string armazenando um número inteiro em formato de texto
b = '7.33' # Uma string armazenando um número float em formato de texto
c = 68     # Um inteiro
d = 9.7    # Um float

x = int(a)
print(type(x), ' --->', x)

x = float(a)
print(type(x), ' --->', x)

# x = int(b) # Este comando não funciona, pois o número definido pela string é float.
# A solução é fazer duas conversões, primeiro a float e depois a int:
x = int(float(b))
print(type(x), ' --->', x)   # Note que a parte fracionária é perdida

x = float(b)
print(type(x), ' --->', x)

x = float(c)
print(type(x), ' --->', x)

x = int(d)
print(type(x), ' --->', x)   # Note que a parte fracionária é perdida

x = str(c)
print(type(x), ' --->', x)

x = str(d)
print(type(x), ' --->', x)

<class 'int'>  ---> 12
<class 'float'>  ---> 12.0
<class 'int'>  ---> 7
<class 'float'>  ---> 7.33
<class 'float'>  ---> 68.0
<class 'int'>  ---> 9
<class 'str'>  ---> 68
<class 'str'>  ---> 9.7

## 2. Operações básicas

Usamos comandos para executar operações sobre dados dos diferentes tipos descritos acima. Essas operações podem ser realizadas sobre os dados/valores diretamente, ou sobre variáveis que armazenam esses dados/valores.

### 2.1 Operações aritméticas/matemáticas

Podemos usar operações básicas: adição (``+``), subtração (``-``), multiplicação (``*``) e divisão (``/``).

In [8]:
print(5 + 3)       # Operação usando valores e exibindo diretamente em tela
print(10 * 2)      # Operação usando valores e exibindo diretamente em tela

a = 15
print(a / 3)       # Operação usando variáveis e valores e exibindo diretamente em tela
b = 5
print(a - b)       # Operação usando variáveis e exibindo diretamente em tela

resultado = a + b  # Armazenando o resultado em uma variável
print(resultado)   # e em seguida exibindo seu valor

8
20
5.0
10
20

+ Observe que a operação de divisão resulta em um valor do tipo ``float``, mesmo sendo uma divisão inteira. As demais operações resultam em valores inteiros, uma vez que os valores/variáveis são inteiros.

Mais alguns exemplos.

In [9]:
a = 5.0
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)

8.0
2.0
15.0
1.6666666666666667

+ Neste caso, como uma das variáveis (``a``) é do tipo ``float``, o resultado será também ``float``.

Além das operações básicas, podemos usar operações adicionais:
+ **Exponenciação**: ``**`` (i.e. potenciação)
+ **Parte inteira**: ``//`` (extrai a parte inteira da divisão de dois números inteiros)
+ **Módulo**: ``%`` (extrai o resto da divisão inteira entre dois números inteiros)

In [10]:
a = 5
b = 2
c = 4

print(a ** b)  # 5^2
print(b ** c)  # 2^4

print(a / b)   # 5/2 = 2.5
print(a // b)  # Parte inteira: 2
print(a % b)   # Resto: 1

print(c / b)   # 4/2 = 2.0
print(c // b)  # Parte inteira: 2
print(c % b)   # Resto: 0

25
16
2.5
2
1
2.0
2
0

Finalmente, podemos montar expressões matemáticas completas usando essas operações básicas.

Exemplo: dado o valor atual de um produto de $4.00, calcular um aumento de 25\% no seu valor.

In [11]:
# Calculando e exibindo diretamente
print(4 + (4 * 25 / 100))

# Usando variáveis
valor = 4
percentual_aumento = 25
valor_aumento = valor * percentual_aumento / 100
novo_valor = valor + valor_aumento
print(novo_valor)

5.0
5.0

Exemplo: dados os valores de $a$, $b$ e $c$, calcular o resultado da expressão abaixo.

$$\frac{a^b - 2a}{b - c}$$

In [12]:
a = 4
b = 2
c = -2

resultado = (a ** b - 2 * a) / (b - c)
print(resultado)

2.0

**Importante**: nas operações aritméticas, a execução segue a mesma ordem de prioridade da matemática (i.e. exponenciação $\rightarrow$ multiplicação/divisão $\rightarrow$ adição/subtração); da mesma forma, operações com o mesmo nível de prioridade são executadas da esquerda para a direita. Para definir a ordem desejada, deve-se usar parêntesis.

### 2.2 Operações relacionais

São usadas para comparar dois valores. O resultado é sempre verdadeiro (``True``) quando a checagem é satisfeita, ou falso (``False``) quando a checagem não é satisfeita.

Dados dois valores ``a`` e ``b``, temos as seguintes operações relacionais:
+ ``a == b``: verifica se ``a`` é **igual** a ``b``;
+ ``a != b``: verifica se ``a`` é **diferente** de ``b``;
+ ``a > b``: verifica se ``a`` é **maior** que ``b``;
+ ``a < b``: verifica se ``a`` é **menor** que ``b``;
+ ``a >= b``: verifica se ``a`` é **maior ou igual** que ``b``;
+ ``a <= b``: verifica se ``a`` é **menor ou igual** que ``b``;

In [13]:
a = 5
b = 8

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

Podemos usar essas operações com dados não numéricos (tome cuidado para não misturar dados de diferentes tipos, pois algumas operações não são suportadas, e.g. não há como determinar se o valor 5 é maior que o texto "Ibirama", mas podemos determinar se esses valores são iguais ou diferentes).

In [14]:
a = 'Ana'
b = 'José'

print(a == b)
print(a != b)
print(a > b)    # definido pela ordem alfabética
print(a < b)    # definido pela ordem alfabética
print(a >= b)   # definido pela ordem alfabética
print(a <= b)   # definido pela ordem alfabética

False
True
False
True
False
True

Exemplo: dadas as idades de Maria e Pedro, informadas pelo usuário, determine se:
+ Maria é mais velha que Pedro;
+ Maria é mais jovem que Pedro;
+ Maria e Pedro têm a mesma idade;
+ Pedro é idoso (60 anos ou mais);
+ Maria é menor de idade.

In [15]:
idade_maria = int(input('Idade da Maria: '))
idade_pedro = int(input('Idade do Pedro: '))

print('Maria é mais velha que Pedro?', idade_maria > idade_pedro)
print('Maria é mais jovem que Pedro?', idade_maria < idade_pedro)
print('Eles têm a mesma idade?', idade_maria == idade_pedro)
print('Pedro é idoso?', idade_pedro >= 60)
print('Maria é menor de idade?', idade_maria < 18)

Idade da Maria: 15
Idade do Pedro: 23
Maria é mais velha que Pedro? False
Maria é mais jovem que Pedro? True
Eles têm a mesma idade? False
Pedro é idoso? False
Maria é menor de idade? True

### 2.3 Operações lógicas

Operações lógicas são aplicadas a valores ou variáveis booleanas, i.e. operam sobre valores *verdadeiro* ou *falso* (``True`` ou ``False``). As operações lógicas são:
+ ``not`` (não): operador de negação
+ ``and`` (e): operador de conjunção
+ ``or`` (ou): operador de disjunção

O operador ``not`` (não) é apicado a um valor (ou variável) e retorna o oposto dela. Ou seja, se for verdadeiro, retorna falso, e se for falso, retorna verdadeiro.

In [16]:
a = True
b = False

print(not a)
print(not b)

False
True

O operador ``or`` (ou) é aplicado a dois valores (ou duas variáveis) e retorna verdadeiro se um deles for verdadeiro. Ou seja, é verdadeiro se um **OU** outro valor for verdadeiro.

In [17]:
a = True
b = True
c = False
d = False

print(a or b)
print(a or c)
print(c or d)

True
True
False

O operador ``and`` (e) é aplicado a dois valores (ou duas variáveis) e retorna verdadeiro se ambos forem verdadeiro. Ou seja, é verdadeiro se um **E** outro valor forem verdadeiros.

In [18]:
a = True
b = True
c = False
d = False

print(a and b)
print(a and c)
print(c and d)

True
False
False

#### 2.3.1 Tabelas verdade

As tabelas a seguir resumem a aplicação dos operadores lógicos em todos os cenários possíveis.

**Operador ``not``**

| A | not A |
|---|-------|
| True | False |
| False | True |

**Operador ``or``**

| A | B | A or B |
|---|---|--------|
| True | True | True |
| True | False | True |
| False | True | True |
| False | False | False |

**Operador ``and``**

| A | B | A and B |
|---|---|---------|
| True | True | True |
| True | False | False |
| False | True | False |
| False | False | False |

#### 2.3.2 Expressões lógicas

Podemos combinar várias operações lógicas em expressões mais complexas, que verificam condições lógicas com diversos valores/variáveis. Da mesma forma que fazemos nas operações aritméticas, o uso de parêntesis define a prioridade de cada operação, i.e. a ordem em que elas serão executadas. Se a prioridade não é determinada pelo uso de parêntesis, então é usada a prioridade definida pelo Python: primeiro é executado o operador ``not``, seguido pelo operador ``and`` e, finalmente, é executado o operador ``or``.

+ Dica: sempre use parêntesis para definir a ordem de prioridade desejada.

Alguns exemplos de expressões lógicas:

In [19]:
a = True
b = True
c = False
d = False

resultado = (a and c) or (b and d)
print(resultado)

resultado = (a or b) and (c or d)
print(resultado)

resultado = not a and b
print(resultado)

resultado = not (a and b) or (b or c or d)
print(resultado)

resultado = not (a and c or d)
print(resultado)

False
False
False
True
True

As operações relacionais discutidas acima retornam verdadeiro ou falso. Por exemplo, ``6 > 2`` retorna verdadeiro (``True``), enquanto ``'abc' == 'abcd'`` retorna falso (``False``). Portanto, podemos usar operações relacionais combinadas com operações lógicas, criando expressões mais complexas. Vejamos alguns exemplos:

In [20]:
salario = 5420.46
idade = 26
dedicacao_integral = False
cidade = 'Ibirama'
salario_referencia = 4800.00

# O sujeito possui mais de 25 anos e recebe menos que o salário de referência?
resultado = (idade > 25) and (salario < salario_referencia)
print(resultado)

# O sujeito é de Ibirama ou de Rio do Sul e é maior de idade?
resultado = (cidade == 'Ibirama' or cidade == 'Rio do Sul') and (idade >= 18)
print(resultado)

# O sujeito é de Blumenau ou tem salário menor que 10 mil?
resultado = (cidade == 'Blumenau')
print(resultado)
resultado = resultado or (salario < 10000)
print(resultado) # Note que essa expressão foi executada em duas etapas

# O sujeito não possui dedicação integral e seu salário é maior que o salário de referência?
resultado = (not dedicacao_integral) and (salario > salario_referencia)
print(resultado)

False
True
False
True
True

### 2.4 Operações com strings

Importante: uma string é formada por uma *sequência de caracteres*.

**Tamanho**: para verificar o tamanho de uma string (número de caracteres) usamos o comando ``len``.

In [21]:
print(len('abc'))
print(len(''))
print(len('Um texto um pouco maior!'))

3
0
24

Podemos acessar caracteres específicos de strings usando colchetes logo após o nome da variável e informando a posição que se deseja acessar. As posições são definidas de ``0`` a ``len(var) - 1``.

+ Atenção: não podemos acessar uma posição fora do intervalo definido pela string.

In [22]:
s = 'Minha string!'
print(s[0])
print(s[1])
print(s[2])
print('[...]')
print(s[len(s)-2])
print(s[len(s)-1])

M
i
n
[...]
g
!

**Concatenação**: consiste em juntar duas ou mais strings para formar uma string maior. Para isso, usamos o operador ``+`` (similar à operação de adição, mas agora usando duas strings como operandos).

In [23]:
s1 = 'Uma string'
s2 = 'Outra string'
print(s1 + s2)
print(s1 + ' ' + s2)

# Para concatenar valores (ou variáveis) numéricos com strings, eles precisam primeiro ser convertidos para string
nome = 'João'
idade = 88
texto = 'Nome: ' + nome + ', idade: ' + str(idade)
print(texto)

Uma stringOutra string
Uma string Outra string
Nome: João, idade: 88

**Concatenação com multiplicação**: também podemos usar o operador ``*`` (similar à operação de multiplicação, mas agora usando uma string e um inteiro como operandos) para concatenar uma string consigo mesma várias vezes.

In [24]:
padrao = 'ABC'
repetido = padrao * 5
print(repetido)

separador = '-'
print(padrao + separador * 9 + padrao)

ABCABCABCABCABC
ABC---------ABC

**Fatiamento**: consiste em acessar partes de uma string. Para isso, usamos índices (similar ao acesso a caracteres específicos da string), mas neste caso definimos o intervalo de índices a ser acessado.

O comando ``s[i:j]`` acessa a fatia da string ``s`` compreendendo os caracteres de ``i`` até ``j-1``.

In [25]:
s = 'Ibirama'
print(s[0:2])
print(s[2:6])

Ib
iram

Podemos omitir o primeiro índice, ``s[:j]``, fatiando a string desde seu início até o índice ``j-1``. Da mesma forma, ao omitir o segundo índice, ``s[i:]``, fatiamos a string desde o índice ``i`` até o final.

In [26]:
s = 'Programar é legal!'
print(s[:8])
print(s[5:])

Programa
amar é legal!

Ao usar índices negativos, indicamos posições a partir da direita (i.e. do final da string). A posição -1 é o último caractere, -2 é o penúltimo, etc.

In [27]:
s = 'Palmeiras'
print(s[0:-2]) # Removendo os dois últimos caracteres
print(s[-1:])  # Fatiando do último caractere até o final da string
print(s[-3:])  # Mesma operação com os três últimos caracteres
print(s[-6:7])

Palmeir
s
ras
meir

**Composição**: consiste em criar um modelo através de uma string, no qual inserimos dados para compor a string final que será apresentada em tela ou armazenada.
+ A composição substitui a concatenação de strings e é útil em muitos casos, como para apresentar dados em tela.

Primeiro, definimos a string modelo, usando o símbolo ``%`` para indicar posições que serã completadas com dados. Após o símbolo ``%`` devemos indicar o tipo de dado que será inserido, usando um dos seguintes caracteres de idenficiação:
+ ``%d``: inteiro
+ ``%s``: string
+ ``%f``: float

Finalmente, usamos mais um caractere ``%`` para separar a string modelo dos dados para preenchimento, os quais são informados (quando mais que um) entre parêntesis e separados por vírgula.

In [28]:
nome = 'Maria'
idade = 31
salario = 8237.61

s = 'Seu nome é %s. Ela tem %d anos de idade e seu salário é de R$ %f' % (nome, idade, salario)
print(s)

a = 8.5
b = 9
print('A multiplicação de %f por %f é %f!' % (a, b, a * b))

Seu nome é Maria. Ela tem 31 anos de idade e seu salário é de R$ 8237.610000
A multiplicação de 8.500000 por 9.000000 é 76.500000!

Podemos definir configurações para a forma de apresentação dos dados inserindo comandos entre o caractere ``%`` e o caractere de definição do tipo (``d``, ``s`` ou ``f``).

Exemplos:
+ ``%03d`` define que o número ocupe 3 dígitos e adicione zeros à esquerda, quando necessário;
+ ``%3d`` é similar ao anterior, mas sem adicionar os zeros;
+ ``%5.2f`` define que o float vai ocupar 5 posições, sendo duas delas para a parte decimal.

In [29]:
numero = 12
valor = 7.3

print('[%d]' % numero)
print('[%03d]' % numero)
print('[%3d]' % numero)
print('[%-3d]' % numero) # Usando o símbolo - inserimos o espaço à direita do número

print('%f' % valor)
print('[%5.2f]' % valor)
print('[%-10.3f]' % valor)
print('[R$ %.2f]' % valor)

[12]
[012]
[ 12]
[12 ]
7.300000
[ 7.30]
[7.300     ]
[R$ 7.30]