<div align="right" style="text-align:right"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licença Creative Commons" style="border-width:0; float:right" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br><br><i>Prof. Marcelo de Souza</i><br>marcelo.desouza@udesc.br</div>

# Variáveis e operações básicas

Este notebook detalha a sintaxe para definição, atribuição e acesso de variáveis, bem como seu uso em operações básicas.

## 1. Variáveis

Criamos uma variável definindo seu nome e atribuindo um valor. Abaixo criamos uma variável chamada ``a`` e atribuimos o número ``1`` como seu valor.

In [1]:
a = 1

Podemos acessar o valor armazenado na variável ``a`` e exibí-lo em tela.

In [2]:
print(a)

1

Também podemos substituir o valor da variável ``a``.

In [3]:
a = 5
print(a) # Neste momento, a variável armazena seu novo valor (5)

5

### 1.1 Tipos (de variáveis/valores)

Variáveis não se limitam a armazenar números (tal como os exemplos acima). Os tipos **básicos** de dados que podemos armazenar em Python são:

Tipos numéricos:
+ **inteiro**: números inteiros (ex: 1, 7, -6, 324, ...)
+ **float**: números reais; ponto flutuante (ex: 1.7, 33.86, 44.0, -520.4, ...)

Outros tipos:
+ **texto**/**string**: valores textuais (ex: 'um texto', 'outro texto', '12', ...)
+ **lógico**/**booleano**: armazena verdadeiro ou falso (True ou False)

In [4]:
num_inteiro = 16       # Variável inteira
num_float = 33.4       # Variável float/real
texto1 = 'Ibirama'     # Variável string (usando áspas simples)
texto2 = "Rio do Sul"  # Variável string (usando áspas duplas)
logico = True          # Variável booleana

print(num_inteiro)
print(num_float)
print(texto1)
print(texto2)
print(logico)

16
33.4
Ibirama
Rio do Sul
True

Os comandos são executados em sequência, e em diferentes pontos da execução uma variável pode ter diferentes valores. Veja ainda que a mesma variável pode armazenar valores de diferentes tipos em diferentes pontos da execução (isso não é verdade para algumas linguagens de programação).

In [5]:
x = 43
print(x)
x = 12
x = 7
print(a)
x = 'Olá'
print(x)
x = 3.14
x = False
print(x)

43
5
Olá
False

Podemos usar o comando ``type(<var>)`` para saber o tipo de uma variável (``<var>``).

In [6]:
x = 9
print(type(x))
x = 2.5
print(type(x))
x = 'Ibirama'
print(type(x))
x = True
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## 2. Operações básicas

Usamos comandos para executar operações sobre dados dos diferentes tipos descritos acima. Essas operações podem ser realizadas sobre os dados/valores diretamente, ou sobre variáveis que armazenam esses dados/valores.

### 2.1 Operações aritméticas/matemáticas

Podemos usar operações básicas: adição (``+``), subtração (``-``), multiplicação (``*``) e divisão (``/``).

In [7]:
print(5 + 3)       # Operação usando valores e exibindo diretamente em tela
print(10 * 2)      # Operação usando valores e exibindo diretamente em tela

a = 15
print(a / 3)       # Operação usando variáveis e valores e exibindo diretamente em tela
b = 5
print(a - b)       # Operação usando variáveis e exibindo diretamente em tela

resultado = a + b  # Armazenando o resultado em uma variável
print(resultado)   # e em seguida exibindo seu valor

8
20
5.0
10
20

+ Observe que a operação de divisão resulta em um valor do tipo ``float``, mesmo sendo uma divisão inteira. As demais operações resultam em valores inteiros, uma vez que os valores/variáveis são inteiros.

Mais alguns exemplos.

In [8]:
a = 5.0
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)

8.0
2.0
15.0
1.6666666666666667

+ Neste caso, como uma das variáveis (``a``) é do tipo ``float``, o resultado será também ``float``.

Além das operações básicas, podemos usar operações adicionais:
+ **Exponenciação**: ``**`` (i.e. potenciação)
+ **Parte inteira**: ``//`` (extrai a parte inteira da divisão de dois números inteiros)
+ **Módulo**: ``%`` (extrai o resto da divisão inteira entre dois números inteiros)

In [15]:
a = 5
b = 2
c = 4

print(a ** b)  # 5^2
print(b ** c)  # 2^4

print(a / b)   # 5/2 = 2.5
print(a // b)  # Parte inteira: 2
print(a % b)   # Resto: 1

print(c / b)   # 4/2 = 2.0
print(c // b)  # Parte inteira: 2
print(c % b)   # Resto: 0

25
16
2.5
2
1
2.0
2
0

Finalmente, podemos montar expressões matemáticas completas usando essas operações básicas.

Exemplo: dado o valor atual de um produto de $4.00, calcular um aumento de 25\% no seu valor.

In [18]:
# Calculando e exibindo diretamente
print(4 + (4 * 25 / 100))

# Usando variáveis
valor = 4
percentual_aumento = 25
valor_aumento = valor * percentual_aumento / 100
novo_valor = valor + valor_aumento
print(novo_valor)

5.0
5.0

Exemplo: dados os valores de $a$, $b$ e $c$, calcular o resultado da expressão abaixo.

$$\frac{a^b - 2a}{b - c}$$

In [21]:
a = 4
b = 2
c = -2

resultado = (a ** b - 2 * a) / (b - c)
print(resultado)

2.0

**Importante**: nas operações aritméticas, a execução segue a mesma ordem de prioridade da matemática (i.e. exponenciação $\rightarrow$ multiplicação/divisão $\rightarrow$ adição/subtração); da mesma forma, operações com o mesmo nível de prioridade são executadas da esquerda para a direita. Para definir a ordem desejada, deve-se usar parêntesis.

### 2.2 Operações relacionais

São usadas para comparar dois valores. O resultado é sempre verdadeiro (``True``) quando a checagem é satisfeita, ou falso (``False``) quando a checagem não é satisfeita.

Dados dois valores ``a`` e ``b``, temos as seguintes operações relacionais:
+ ``a == b``: verifica se ``a`` é **igual** a ``b``;
+ ``a != b``: verifica se ``a`` é **diferente** de ``b``;
+ ``a > b``: verifica se ``a`` é **maior** que ``b``;
+ ``a < b``: verifica se ``a`` é **menor** que ``b``;
+ ``a >= b``: verifica se ``a`` é **maior ou igual** que ``b``;
+ ``a <= b``: verifica se ``a`` é **menor ou igual** que ``b``;

In [25]:
a = 5
b = 8

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

Podemos usar essas operações com dados não numéricos (tome cuidado para não misturar dados de diferentes tipos, pois algumas operações não são suportadas, e.g. não há como determinar se o valor 5 é maior que o texto "Ibirama", mas podemos determinar se esses valores são iguais ou diferentes).

In [31]:
a = 'Ana'
b = 'José'

print(a == b)
print(a != b)
print(a > b)    # definido pela ordem alfabética
print(a < b)    # definido pela ordem alfabética
print(a >= b)   # definido pela ordem alfabética
print(a <= b)   # definido pela ordem alfabética

False
True
False
True
False
True

Exemplo: dadas as idades de Maria e Pedro, informadas pelo usuário, determine se:
+ Maria é mais velha que Pedro;
+ Maria é mais jovem que Pedro;
+ Maria e Pedro têm a mesma idade;
+ Pedro é idoso (60 anos ou mais);
+ Maria é menor de idade.

In [32]:
idade_maria = int(input('Idade da Maria: '))
idade_pedro = int(input('Idade do Pedro: '))

print('Maria é mais velha que Pedro?', idade_maria > idade_pedro)
print('Maria é mais jovem que Pedro?', idade_maria < idade_pedro)
print('Eles têm a mesma idade?', idade_maria == idade_pedro)
print('Pedro é idoso?', idade_pedro >= 60)
print('Maria é menor de idade?', idade_maria < 18)

Idade da Maria: 15
Idade do Pedro: 12
Maria é mais velha que Pedro? True
Maria é mais jovem que Pedro? False
Eles têm a mesma idade? False
Pedro é idoso? False
Maria é menor de idade? True

### 2.3 Operações lógicas

### 2.4 Operações com strings